/* /¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\ */
/* Main */
body{
	background: #0a0a0c;
	width: 100%;
	height: 100%;
	margin: 0;
}
/* \___________________________________________________________________________________/ */




/* /¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\ */
/* Main Page */
.contain{
	position: relative;
	width: 1080px;
	margin: 0 auto;
	color:#ffd086;
	z-index:2;
}

.champion{
	margin: 80px 0;
	font-size: 5em;
	letter-spacing: 76px;
	text-align: center;
	text-transform: uppercase;
}

.rowChampion{
	text-align:center;
}

.unicChampion{
	display: inline-block;
	text-align: center;
	transition: color 250ms;
	cursor:pointer;
	margin:0 40px;
}
.unicChampion:hover{
	color:#ffe4b9;
}

.nameChampion{
	margin: 20px 0;
	font-size: 1.4em;
}
/* \___________________________________________________________________________________/ */




/* /¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\ */
/* Aatrox page */

.fondAatrox{
	background-image: url('../img/aatrox/champion-aatrox-splash.jpg');
	background-size:cover;
	background-position: center center;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	z-index: 0;
}

.blockDescription h1{
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 6px;
}

/* \___________________________________________________________________________________/ */




/* /¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\ */
/* Class répétition */
.image{
	border-radius: 62px;
	transition: transform 250ms, box-shadow 250ms;
}

.unicChampion:hover .image{
	transform: scale(1.1);
}

.unicChampion:hover .rouge{
	box-shadow:0px 0px 50px #ff3a3a;
}

.unicChampion:hover .blue{
	box-shadow:0px 0px 50px #3433AC;
}

.unicChampion:hover .greenDark{
	box-shadow:0px 0px 50px #1D5D50;
}

.unicChampion:hover .purple{
	box-shadow:0px 0px 50px #D885FC;
}

.unicChampion:hover .limeGreen{
	box-shadow:0px 0px 50px #71C874;
}

.blackShadow{
	position: absolute;
	background-color: rgba(0,0,0,0.15);
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.blockDescription{
	margin: 20px 0;
	padding: 30px 60px;
	border-radius: 10px;
	background:rgba(0, 0, 0, 0.85);
}

.inline{
	display: inline-block;
}

.iCenter{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

.spells{
	margin:80px 0;
}

.spells img{
	vertical-align:middle;
	margin-right: 20px;
}

.spells i{
	vertical-align:middle;
}

.spells .cooldown{
	vertical-align:middle;
	font-size: 2.2em;
}

/* \___________________________________________________________________________________/ */