<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>APP LOL - COOLDOWN CALCULATOR</title>

	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/deco.css">

	<script src="/js/vue.min.js"></script>
	<script src="/node_modules/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
	<champion-item
			v-for="item in Champions"
			:Champions="item"
			:key="item.id">
	</champion-item>
</div>

<script src="/js/app.js"></script>
</body>
</html>